.h50{
    height: 50px;
}
.h100{
    height: 100px;
}
.h150{
    height: 150px;
}
.mh150{
    max-height: 150px;
}
.hfull{
    height: 100% !important;
}
.hxfull{
    height: 0 !important;
}

.w50{
    width: 50px;
}
.w100{
    width: 100px;
}
.w150{
    width: 150px;
}
.wfull{
    width: 100% !important;
}
.wxfull{
    width: 0 !important;
}